body {
  height: 100%;
  width: 100%;
  background: #0da8d3;
}

.header {
  text-align: center;
  background: #0da8d3;
  width: 100%;
  font-size: 6.5rem;
  color: white;
  margin-top: 3%;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.menu-text {
  font-size: 7rem;
  color: white;
  margin-right: 5%;
}

#open-dialog,
#open-state,
#open-place {
  font-size: 6rem;
}

.car-table,
.state-table,
.place-table {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  width: 100%;
  margin: 0;
}

.car-shcedule,
.car-place,
.car-state {
  margin: 5% 0 5% 5%;
  width: 100%;
}

.info,
.state-info,
.place-info {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 5rem;
  width: 100%;
  margin-right: 2.5rem;
}

.add-dialog,
.add-state,
.add-place {
  width: 70%;
  height: 10%;
  font-size: 4rem;
  background-color: #0da8d3;
}

.time,
.day {
  width: 40%;
  padding: 3% 10% 3% 5%;
  font-size: 2rem;
}

.dn,
.state,
.place {
  padding: 3% 5% 3% 5%;
  font-size: 2rem;
}

.submit,
.close-modal,
.submit-state,
.close-state,
.submit-place,
.close-place {
  padding: 3% 5% 3% 5%;
  font-size: 2rem;
}
